<div id='investment'>
  <div id='investment-title'>
    US Unemployment Rate <span id='vs'>VS</span> Tech Compnay Investment Amount
  </div>
  <div id='investment-graph'></div>
  <script>
    var margin = {top: 30, right: 60, bottom: 30, left: 60},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;


    var x = d3.time.scale()
        .range([0, width-63]);
    var y = d3.scale.linear()
        .range([height, 0]);

    var x2 = d3.scale.ordinal()
        .rangeBands([0, width-63], .1);
    var y2 = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var x2Axis = d3.svg.axis()
        .scale(x)
        .orient("top");
    var yAxisRight = d3.svg.axis()
        .scale(y2)
        .orient("right")

    var line = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.rate); });

    var svg = d3.select("#investment-graph").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    //bar graph for amount
    d3.tsv("/data/date_investmentAmount.tsv", type, function(error, data) {
      x2.domain(data.map(function(d) {
        return d.date; }));
      y2.domain([0, d3.max(data, function(d) {
        return parseFloat(d.amount); })]);

      svg.append("g")
          .attr("class", "y axis axisRight")
          .attr("transform", "translate(" + (width-62) + ",0)")
          .call(yAxisRight)
          .append("text")
          .attr("transform", "translate("+(110)+","+(-20)+")")
          .attr("y", 0)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Investment ($)");

    console.log(y2.domain());
      svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x2(d.date); })
          .attr("width", x2.rangeBand())
          .attr("y", function(d) { return y2(d.amount); })
          .attr("height", function(d) {
            return (height - y2(d.amount)); }

          );

    });

    // line graph for unemployment rate.
    d3.tsv("/data/unemploymentRate.tsv", function(error, data) {
      data.forEach(function(d) {
        console.log(d.date);
        d.date = Date.parse(d.date);
        console.log(d.date);
        d.rate = +(parseFloat(d.rate)/100.0);
        console.log(d.rate);
      });

      x.domain(d3.extent(data, function(d) {
        return d.date; }));
      y.domain(d3.extent(data, function(d) {
        return parseFloat(d.rate); }));

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis axisLeft")
          .call(yAxis)
        .append("text")
          .attr("transform", "translate(-50,-30)")
          .attr("y", 6)
          .attr("dy", ".71em")
          //.style("text-anchor", "end")
          .text("Unemployment Rate");


      svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);
    });


    function type(d) {
      d.frequency = +d.frequency;
      return d;
    }
  </script>

  <div id='investment-desc'>

  </div>
</div>