// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-font-size: 1.1em;

#sequoia-graph svg {
	display: block;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 0.1em black;
}

#sequoia-form {
	text-align: center;
	font-size: $body-font-size;
}

#sequoia-result {
	text-align: center;
	font-size: $body-font-size;
	margin-bottom: 15px;
}

#source, #target {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
	font-size: $body-font-size;
	text-align: center;
}

#sequoia-desc {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: $body-font-size;
	text-align: justify;
}

#sequoia-form-submit {
	font-size: $body-font-size;
	background: none;
	color: black;
	cursor: pointer;
	border: none;
}

#sequoia-form-submit:hover {
	color: #268ED4;
}
